<!DOCTYPE html>
<html>
<head>
    <title>QBNB - Search for a New Experience</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
</head>
<body>
    <div class="navbar-container">
        <div class="navbar">
            <div class="logo-container">
                <a href="/">
                    <img id="logo" src="{{url_for('static', filename='QBNBLogo.jpg')}}" align="left"/>
                </a>
            </div>
            <div class="searchbar-container">
                <input class="searchbar" placeholder="Search for a New Experience..." type="text" >
            </div>
            <div class="login-container">
                <button>Login Button</button>
            </div>
        </div>
</div>
<br>
    <div class="main-container">
        <div class="main">
            <div class="settings-container">
                <ul class="settings-options">
                    <li><a>Profile</a></li>
                    <li><a>Your Listings</a></li>
                    <li><a>Your Reviews</a></li>
                    <li><a>Reviews About You</a></li>
                    <li><a>Privacy</a></li>
                    <li><a>Security</a></li>
                    <li><a>Delete Account</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    <p class="host-txt" style="margin-left:25em;margin-right:25em">
        <b>NOTE:</b> The button pressed to navigate to this page will produce
        a dropdown menu from which you can select a 'settings' button (among 
        others) to navigate to this page if you are signed in. If you are not, 
        the options will be to either sign in or sign up.
    </p>
</body>
</html>