@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

button {
  border: solid 4px rgb(157, 25, 57);
  font-family: "Poppins", sans-serif;
  padding: 1em;
  margin-left: 5em;
}

#logo {
  max-width: 4em;
  padding-right: 2em;
}

.tiny {
  font-size: small;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(238, 189, 49) 50%,
    rgb(157, 25, 57) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.bg3 {
  animation-duration: 5s;
}

.navbar-container {
  background-color: #ffffff;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  filter: drop-shadow(0px 1px 4px rgb(180, 180, 180));
  opacity: 1;
  position: sticky;
  margin: -0.3em;
  top: 0;
  z-index: 15;
}

.navbar {
  display: inherit;
  align-items: center;
}

.searchbar {
  height: 3em;
  width: 30em;
  border-radius: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  padding-left: 1em;
  border: solid 2px #e2e2e2;
  background-color: #fbfbfb;
}

.filters {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bnb-select {
  height: 2em;
  width: 2em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding-left: 1em;
  border-width: 2px;
  border: none;
  color: gray;
  background-color: #fbfbfb;
  padding-left: 1em;
  margin-left: -0.25em;
  background-color: #e2e2e2;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

.bnb-select:first-of-type {
  border-radius: 5px 0px 0px 5px;
}

.filter-button {
  border: none;
  font-size: 16px;
  border-radius: 50px;
  font-weight: bold;
  padding: 1em;
  margin-left: 5em;
  background-color: #ffffff;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-grow: 1 1 200px;
}

.changing-info-container {
  display: flex;
  justify-content: center;
  flex-grow: 1 1 200px;
  flex-direction: column;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-grow: 1 1 200px;
  flex-direction: row;
}

.dropdown-content {
  animation: fade 200ms;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  background-color: #fafafa;
  display: none;
  position: absolute;
  margin-top: 6vh;
  border: 2px solid #e2e2e2;
  border-radius: 15px;
  font-size: medium;
  font-weight: bold;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.login-container:hover .dropdown-content {
  display: block;
  animation: fade 200ms;
  animation-fill-mode: forwards;
}

.dropdown-content a {
  transition: all 250ms ease-in-out;
  display: block;
  color: black;
  padding: 1em;
  text-decoration: none;
}

.dropdown-content a:hover {
  transition: all 250ms ease-in-out;
  background-color: #e2e2e2;
}

.register-text {
  color: blue;
}

.textfield {
  transition: all 250ms ease;
  border: solid 2px rgb(157, 25, 57);
  border-radius: 5px;
  padding: 1em;
  margin: 1.5vh 0 2.5vh 0;
  font-family: "Poppins", sans-serif;
  background-color: #fafafafa;
  width: 40.2em;
}

.textfield textarea {
  resize: none;
}

.textfield:active {
  transition: all 250ms ease;
  border: solid 2px rgb(0, 36, 82);
}

.main-container-profiles {
  display: flex;
  justify-content: center;
  flex-grow: 1 1 200px;
}

.changables-container {
  background-color: rgba(255, 255, 255, 1);
  margin: -2vh -25em -2vh -25em;
  padding: 2vh 25em 2vh 25em;
}

.core-profile {
  background-color: rgba(255, 255, 255, 0);
}

.listing {
  transition: all 250ms ease-in-out;
  animation: fade 200ms;
  animation-fill-mode: forwards;
  visibility: hidden;
  --index: 0;
  animation-delay: calc(0.05s * var(--index));
  margin: 1em;
}

.listing:hover {
  transition: all 250ms ease-in-out;
  transform: scale(1.15);
}

.listings-container {
  margin-top: 5vh;
  margin: 5vh 25em 0 25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listing-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-color: #000000;
  border-width: 4px;
  border-radius: 5px;
}

.loc-and-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2.5vh;
}

.listing-rating {
  text-align: left;
}

.listing-location {
  font-weight: bold;
}

.booking-date {
  margin-top: -1vh;
}

.cost-text {
  margin-top: -1vh;
}

.container-row {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.container-col {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.banking-check[type="radio"] {
  transition: all 250ms ease-in-out;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 15px;
}

.banking-check:hover {
  transition: all 250ms ease-in-out;
  background-size: 128px 128px;
  border: 2px solid black;
  border-radius: 15px;
  filter: saturate(250%);
}

.banking-check#rbc[type="radio"] + label {
  background-size: 128px 128px;
  background-image: url("banks/rbc.png");
  height: 128px;
  object-fit: fill;
  border: 2px solid white;
  border-radius: 15px;
  width: 128px;
}

.banking-check#cibc[type="radio"] + label {
  background-size: 128px 128px;
  background-image: url("banks/cibc.png");
  height: 128px;
  object-fit: fill;
  border: 2px solid white;
  border-radius: 15px;
  width: 128px;
}

.banking-check#scot[type="radio"] + label {
  background-size: 128px 128px;
  background-image: url("banks/scotiabank.png");
  height: 128px;
  object-fit: fill;
  border: 2px solid white;
  border-radius: 15px;
  width: 128px;
}

.banking-check#bmo[type="radio"] + label {
  background-size: 128px 128px;
  background-image: url("banks/BMO.jpg");
  height: 128px;
  object-fit: fill;
  border: 2px solid white;
  border-radius: 15px;
  width: 128px;
}

.banking-check#td[type="radio"] + label {
  background-size: 128px 128px;
  background-image: url("banks/td.png");
  height: 128px;
  object-fit: fill;
  border: 2px solid white;
  border-radius: 15px;
  width: 128px;
}

.banking-check#wefa[type="radio"] + label {
  background-size: 128px 128px;
  background-image: url("banks/wellsfargo.png");
  height: 128px;
  object-fit: fill;
  border: 2px solid white;
  border-radius: 15px;
  width: 128px;
}

/* SELECTED BANKS */
.banking-check#rbc[type="radio"] + label:hover {
  transition: all 250ms ease-in-out;
  border: 2px solid white;
  filter: saturate(250%);
}

.banking-check#cibc[type="radio"] + label:hover {
  transition: all 250ms ease-in-out;
  border: 2px solid white;
  filter: saturate(250%);
}

.banking-check#scot[type="radio"] + label:hover {
  transition: all 250ms ease-in-out;
  border: 2px solid white;
  filter: saturate(250%);
}

.banking-check#bmo[type="radio"] + label:hover {
  transition: all 250ms ease-in-out;
  border: 2px solid white;
  filter: saturate(250%);
}

.banking-check#td[type="radio"] + label:hover {
  transition: all 250ms ease-in-out;
  border: 2px solid white;
  filter: saturate(250%);
}

.banking-check#wefa[type="radio"] + label:hover {
  transition: all 250ms ease-in-out;
  border: 2px solid white;
  filter: saturate(250%);
}

.listing-main-info {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: 0 25em 0 25em;
}

.listing-page-main-basic-info {
  display: flex;
  flex-direction: column;
}

.listing-basic-info {
  display: flex;
  flex-direction: row;
  margin-left: -1em;
}

.listing-basic-info li {
  padding-right: 2em;
}

.listing-page-main-img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border: none;
  border-radius: 10px;
  margin-right: 1em;
}

.host-txt {
  font-size: 24px;
  margin-bottom: -3vh;
}

.listing-page-text {
  font-weight: normal;
  margin-top: -0.5vh;
}

.listing-page-text h1 {
  font-size: 24px;
  margin-left: 1em;
}

.listing-info-hr {
  width: 100%;
}

.listing-page-cost {
  font-weight: normal;
  font-size: 18px;
}

.listing-page-visitation-info {
  margin-left: -1em;
  margin-top: -5vh;
}

.subtext {
  font-weight: normal;
  font-size: 14px;
  color: grey;
}

.listing-info-container {
  display: flex;
  flex-direction: column;
}

.user-greeting {
  text-align: center;
}

.profile-main {
  min-width: 50em;
}

.profile-changables-container form {
  display: flex;
  flex-direction: column;
  margin: 1vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin: 0.5vh 1em 0.5vh 1em;
}

.profile-head {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  justify-content: left;
}

.profile-header {
  padding-top: -1vh;
  text-align: center;
}

.standard-button {
  transition: all 250ms ease-in-out;

  background-color: rgb(0, 36, 82);
  color: white;
  min-width: 5em;
  margin-left: 0;
  border: solid 2px rgb(238, 189, 49);
  border-radius: 15px;
}

.standard-button select {
  display: inline;
}

.standard-button select:before {
  content: "Hello";
  color: white;
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
}

.logout-button {
  transition: all 100ms ease-in-out;
  color: gray;
  border: none;
  border-radius: 15px;
  margin-right: -10em;
  border: 2px solid #f0f0f0;
}

.logout-button:hover {
  transition: all 100ms ease-in-out;
  color: black;
  background-color: white;
  border: 2px solid black;
}

.standard-button:hover {
  transition: all 250ms ease-in-out;
  transform: scale(1.15);
}

.profile-quick-container {
  text-align: center;
  background-color: #fbfbfb;
  margin: 0 -25em 0 -25em;
  padding: 0 25em 0 25em;
  min-height: 65vh;
}

.short-hr {
  width: 15em;
}

.reviews-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.rating-img {
  width: 20px;
}

.rating-img-listing {
  height: 15px;
  margin: 2.75vh -2.5em 0 0;
}

.profile-picture {
  width: 15em;
  border-width: 2px;
  border-radius: 100%;
  object-fit: cover;
  border: solid 4px rgb(157, 25, 57);
}

.pfp-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
}

#review {
  margin: 1vh 2em 2em 1vh;
  padding: 2em;
  border: 2px solid gray;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 4px gray);
  max-width: 50em;
  --index: 0;
  animation-delay: calc(0.05s * var(--index));
  min-width: 50em;
}

#review:nth-of-type(odd) {
  animation: swipeLeft 250ms ease;
  background-color: #e2e2e2;
}

.booking-img {
  height: 600px;
  width: 600px;
  object-fit: cover;
  border: 4px solid rgb(157, 25, 57);
  border-radius: 15px;
  filter: drop-shadow(2px 2px 4px gray);
}

#review:nth-of-type(even) {
  animation: swipeRight 250ms ease;
  background-color: #fefefe;
  border-color: #e2e2e2;
}

@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes swipeLeft {
  0% {
    opacity: 0;
    transform: translateX(-5em);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
  }
}

@keyframes swipeRight {
  0% {
    opacity: 0;
    transform: translateX(5em);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
