<!DOCTYPE html>
<html>
  <head>
    <title>QBNB - Search for a New Experience</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}" />
  </head>
  <body>
    <div class="navbar-container">
      <div class="navbar">
        <div class="logo-container">
          <a href="/"
            ><img
              id="logo"
              src="{{url_for('static', filename='QBNBLogo.jpg')}}"
              align="left"
          /></a>
        </div>
        <div style="margin-right: 2em" class="searchbar-container">
          <input
            class="searchbar"
            placeholder="Search for a New Experience..."
            type="text"
          />
        </div>
        <div class="login-container">
          {% if user %}
          <button name="profile-options" class="standard-button" \>
            Hi, {{ userInformation.username }}
          </button>
          <div class="dropdown-content">
            <a rel="noopener" href="/profile/{{ userInformation.id }}"
              >View Profile</a
            >
            <a rel="noopener" href="/create">Create Listing</a>
            <a rel="noopener" href="/logout">Logout</a>
          </div>

          {% else %}
          <a href="/login"><button class="standard-button">Sign In</button></a>
          {% endif %}
        </div>
      </div>
    </div>
    <br />
    {% block body %}{% endblock %}
  </body>
  <span>
    <footer
      style="
        background: #e2e2e2;
        height: 5vh;
        margin: 1.5vh 0 0 -3em;
        padding: 5vh 15em 5vh 15em;
        color: gray;
        position: absolute;
      "
    >
      QBNB is not a real service. We are not liable for any losses, financial or
      otherwise, that may occur as a result of transactions on our site. Each
      user is fully responsible for their own actions.
    </footer></span
  >
</html>
