<!DOCTYPE html>
<html>
<head>
    <title>QBNB - Search for a New Experience</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
</head>
<body> 
<div class="navbar-container">
        <div class="navbar">
            <div class="logo-container">
                <img id="logo" src="{{url_for('static', filename='QBNBLogo.jpg')}}" align="left"/>
            </div>
            <div class="searchbar-container">
                <input class="searchbar" placeholder="Search for a New Experience..." type="text" >
            </div>
            <div class="login-container">
                <a href="/settings"><button>Login Button</button></a>
            </div>
        </div>
</div>
<br>
{% block body %}{% endblock %}
</body>
</html>