<!DOCTYPE html>
<html>
<head>
    <title>QBNB - Search for a New Experience</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
</head>
<body> 
<div class="navbar-container">
        <div class="navbar">
            <div class="logo-container">
                <img id="logo" src="{{url_for('static', filename='QBNBLogo.jpg')}}" align="left"/>
            </div>
            <div class="searchbar-container">
                <input class="searchbar" placeholder="Search for a New Experience..." type="text" >
            </div>
            <div class="login-container">
                <a href="/settings"><button>Login Button</button></a>
            </div>
        </div>
</div>
<br>
<div class="main-container">
    <div class="main">
        <div class="filters">
            <div class="bnb-btn">
                <button class="filter-button">BEDS AND BATHS</button>
                <input class="bnb-select" value='1' type="number">
                <input class="bnb-select" value='2' type="number">
            </div>
            
            <button class="filter-button">LOCATION</button>
            <button class="filter-button">AMENITIES</button>
            <button class="filter-button">PROPERTY TYPE</button>
            <button class="filter-button">MORE FILTERS ≡</button>
        </div>
        <div class="listings-container">

            <div class="listing">
                <a href="/listing/1">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                </a>    
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

             
            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>

            <div class="listing">
                <img class="listing-img" src="{{url_for('static', filename='placeholder.jpg')}}">
                <div class="loc-and-rating">
                    <p class="listing-location">Location, CAN</p>
                    <p class="listing-rating">5.0</p>
                </div>
                <p class="booking-date">Sept. 21 - Sept. 31</p>
                <p class="cost-text"><b>$999</b> night</p>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>