{% extends 'base.html' %} {% block body %}
<div class="main-container">
  <div class="main">
    <div class="filters">
      <div id="bedsnbaths" class="bnb-btn">
        <button class="filter-button" style="--index: 0">BEDS AND BATHS</button>
        <div
          class="container-row"
          style="position: absolute; top: 12.3em; left: 29.5em"
        >
          <input class="bnb-select" type="number" value="1" min="1" max="99" />
          <input class="bnb-select" type="number" value="2" min="1" max="99" />
        </div>
      </div>

      <button id="location" class="filter-button" style="--index: 1">
        LOCATION
      </button>
      <button id="amenities" class="filter-button" style="--index: 2">
        AMENITIES
      </button>
      <button id="propertyType" class="filter-button" style="--index: 3">
        PROPERTY TYPE
      </button>
    </div>
    {% if upcoming %}
    <div class="container-col" style="margin-top: 2vh">
      <h2>Your Upcoming Listings</h2>
    <div class="listings-container">
      {% for listing in upcoming %}
      <div class="listing" style="--index: {{loop.index}}">
        <a href="/listing/{{listing.id}}">
          <img
            class="listing-img"
            src="data:;base64,{{listing.imgRenderedData}}"
          />
          <div class="loc-and-rating">
            <p class="listing-location">{{listing.location}}</p>
            <p class="listing-rating">{{listing.rating}}</p>
          </div>
          <p class="booking-date">{{listing.dateAvailable}}</p>
          <p class="cost-text"><b>${{listing.price}}</b> night</p>
        </a>
      </div>
      {% endfor %}
    </div>
    <hr class="short-hr">
    </div>
    <h2>Other Listings</h2>
    
    {% else %}
    {% endif %}
    <div class="listings-container">
      {% for listing in listings %}
      <div class="listing" style="--index: {{loop.index}}">
        <a href="/listing/{{listing.id}}">
          <img
            class="listing-img"
            src="data:;base64,{{listing.imgRenderedData}}"
          />
          <div class="loc-and-rating">
            <p class="listing-location">{{listing.location}}</p>
            <p class="listing-rating">{{listing.rating}}</p>
          </div>
          <p class="booking-date">{{listing.dateAvailable}}</p>
          <p class="cost-text"><b>${{listing.price}}</b> night</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
