{% extends 'base.html' %}

{% block body %}
    <div class="main-container">
        <div class="main">
            <p class="host-txt" style="margin:0 17.25em 0 17.25em;">
                <ul class="listing-basic-info" 
                style="justify-content:center; font-size:24px; margin-bottom: -2vh;">
                    <li style="list-style: none;">
                        <b>Gorgeous Oceanside Villa with Patio</b><br></li>
                    <li>5 Stars<br></li>
                    <li>Duggaro, Maldives</li>
                </ul>
                
            </p>
            <div class="listing-main-info">
                
                <img class='listing-page-main-img' src="{{url_for('static',filename='placeholder.jpg')}}">
                <div class="listing-page-main-basic-info">
                    <h1 class="host-txt">Entire villa hosted by Gregory</h1><br>
                    <ul class="listing-basic-info">
                        <li>2 guests</li>
                        <li>1 room</li>
                        <li>2 baths</li>
                        
                    </ul>
                    <hr class="listing-info-hr">
                    <p class="listing-page-description">
                        This beautiful villa in the Maldives is the perfect
                        getaway for you and your significant other. Enjoy the
                        spectacular views of the Indian Ocean and a fully
                        specced out villa with everything you could possibly
                        need for your stay. His and Hers pools, high end BBQs,
                        several docks for tanning, and direct access to the
                        ocean. Make a memorable experience in the Maldives!

                    </p>
                    <hr class="listing-info-hr">
                    <div class="listing-page-more-info">
                        <h1 class="listing-page-text"><b>$750</b> night</h1>
                        <br>
                        <ul class="listing-page-visitation-info">
                            <li class="listing-page-text">
                                Check yourself in with the lockbox
                            </li>
                            <li class="listing-page-text">
                                Gregory is a certified Gael Host!
                                <p class="subtext">A Gael host is a host who
                                    is dedicated to providing you with a
                                    spectacular experience during your stay!
                                </p>
                            </li>
                            <li class="listing-page-text">
                                Free cancellation for 1 week
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
            <div class="listing-main-info">
                <p>More information regarding the property like images,
                    ratings, sleeping arrangemnets, and a calendar (maybe)
                    will be available to click on and use down here once
                    full development of the frontend is underway.
                </p>
            </div>
            
        </div>
    </div>
{% endblock %}