{% extends 'base.html' %}

{% block body %}
    <div class="main-container">
        <div class="main">
            <p class="host-txt" style="margin:0 17.25em 0 17.25em;">
                <ul class="listing-basic-info" 
                style="justify-content:center; font-size:24px; margin-bottom: -2vh;">
                    <li style="list-style: none;">
                        <b>{{ listingData.title }}</b><br>
                    </li>
                    <li>{{ listingData.rating }} <span style="position:absolute;margin-top: 0.25vh; color: rgb(238, 189, 49);"class="material-symbols-outlined">
                        star
                        </span><br></li>
                    <li>{{ listingData.address }}</li>
                </ul>
                
            </p>
            <div class="listing-main-info">
                <img class='listing-page-main-img' src="data:;base64,{{listingData.file_render}}" alt="{FAILED TO RENDER}">
                <div class="listing-page-main-basic-info">
                    <h1 class="host-txt">{{ listingData.pt1 }} hosted by {{ listingData.owner }}</h1><br> <!--entire/room-->
                    <ul class="listing-basic-info">
                        <li>{{ listingData.pt2 }}</li> <!--House type-->
                        <li>{{ listingData.pt3 }} bedrooms</li> <!--# rooms-->
                        <li>{{ listingData.pt4 }} bathrooms</li> <!--# bath-->
                        
                    </ul>
                    <hr class="listing-info-hr">
                    <p class="listing-page-description">
                        {{ listingData.description }}
                    </p>
                    <hr class="listing-info-hr">
                    <div class="listing-page-more-info">
                        <h1 class="listing-page-text"><b>${{ listingData.price }}</b> a night</h1>
                        <br>
                        <ul class="listing-page-visitation-info">
                            <li class="listing-page-text">
                                Check yourself in with the lockbox
                            </li>
                            <li class="listing-page-text">
                                {{ listingData.owner }} is a certified Gael Host!
                                <p class="subtext">A Gael host is a host who
                                    is dedicated to providing you with a
                                    spectacular experience during your stay!
                                </p>
                            </li>
                            <li class="listing-page-text">
                                Free cancellation for 1 week
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
            {% if idPass %}
                <div class="login-container">
                        <p>Update Your Listing?</p>
                    
                    
                </div>
                <div class="login-container">
                    <a href="/updatelisting/{{ listingData.id }}"><button id = "edit" class="standard-button">Edit</button></a>
                </div>
                <hr class="short-hr">
            {% else %}
            <div class="listing-main-info">
               {% if listingData.booked %}
               <p>{{ listingData.address }} is currently booked. Check back again soon!<br><br>
             </p>
               {% else %}  
                <p>Want to stay at {{ listingData.address }}? It is currently available from <b>{{ listingData.date}}</b>!<br><br>
                   <a href="/listing/{{ listingData.id }}/book"><button id="bookButton"class="standard-button">Book Now</button></a>
                </p>
                {% endif %}
            </div>
            {% endif %}
            
            <div id="review-container-container" class="container-row">
                <div class="container-col">
                    
                
                
                    {% if reviewer %}
                    <div id="review" class="container-col">
                        <h2>Write your own review!</h2>
                        <p>We see that you've stayed at this property.
                            Why not leave a review of your experience?</p>
                        <a href="/postreview/{{ listingData.id }}/1"><button class="standard-button">Post Review</button></a>
                        <hr class="short-hr">
                    </div>
                    {% endif %}
                    <h2>Reviews about the Property</h2>
                    <p class="tiny" style="margin-top:-2vh">Here's what people had to say about {{ listingData.address }}</p>
                    {% if listingData.reviews %}
                        {% for review in propertyReviews %}
                        <div class="review" style="--index: {{loop.index}}">
                            <div id="review-content">
                            <p style="text-align: left;margin-top: -2vh;color:rgb(238, 189, 49);font-size: large;"><b>Rating: {{ review.rating }}</b><span style="position: absolute;margin-top: -0.15vh;"class="material-symbols-outlined">
                                star
                                </span> <a href="/profile/{{review.author}}"style="margin-left:1.5em;color:rgb(238, 189, 49);">{{review.authorName}}</a></p>
                            
                                <p style="text-align: left;">{{ review.content }}</p>
                            <p class="tiny" style="right:0;position:absolute;font-size:small;margin-right: 1em;"><i> written on {{ review.date }}</i></p>
                            </div>
                            
                            </a>
                            
                        </div>
                        {% endfor %}
                    {% else %}
                    <br>
                        <div class="container-col">
                            There are no reviews about this property yet.
                        </div><br>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}