{% extends 'base.html' %}

{% block body %}
    <div class="main-container">
        <div class="main">
            <p class="host-txt" style="margin:0 17.25em 0 17.25em;">
                <ul class="listing-basic-info" 
                style="justify-content:center; font-size:24px; margin-bottom: -2vh;">
                    <li style="list-style: none;">
                        <b>{{ listingData.title }}</b><br>
                    </li>
                    <li>{{ listingData.rating }} Stars<br></li>
                    <li>{{ listingData.address }}</li>
                </ul>
                
            </p>
            <div class="listing-main-info">
                <img class='listing-page-main-img' src="data:;base64,{{listingData.file_render}}" alt="{FAILED TO RENDER}">
                <div class="listing-page-main-basic-info">
                    <h1 class="host-txt">{{ listingData.pt1 }} hosted by {{ listingData.owner }}</h1><br> <!--entire/room-->
                    <ul class="listing-basic-info">
                        <li>{{ listingData.pt2 }}</li> <!--House type-->
                        <li>{{ listingData.pt3 }} bedrooms</li> <!--# rooms-->
                        <li>{{ listingData.pt4 }} bathrooms</li> <!--# bath-->
                        
                    </ul>
                    <hr class="listing-info-hr">
                    <p class="listing-page-description">
                        {{ listingData.description }}
                    </p>
                    <hr class="listing-info-hr">
                    <div class="listing-page-more-info">
                        <h1 class="listing-page-text"><b>${{ listingData.price }}</b> a night</h1>
                        <br>
                        <ul class="listing-page-visitation-info">
                            <li class="listing-page-text">
                                Check yourself in with the lockbox
                            </li>
                            <li class="listing-page-text">
                                {{ listingData.owner }} is a certified Gael Host!
                                <p class="subtext">A Gael host is a host who
                                    is dedicated to providing you with a
                                    spectacular experience during your stay!
                                </p>
                            </li>
                            <li class="listing-page-text">
                                Free cancellation for 1 week
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
            <div class="listing-main-info">
                <p>More information regarding the property like images,
                    ratings, sleeping arrangemnets, and a calendar (maybe)
                    will be available to click on and use down here once
                    full development of the frontend is underway.
                </p>
            </div>
            
        </div>
    </div>
{% endblock %}