{% extends 'base.html' %}

{% block body %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container-row">
        {% if userData %}
            <div class="container-col">
                <div class="container-col">

                
                    <div class="user-greeting">
                        {% if idPass %}
                            <h2 style="color:white">{{ greeting }}, {{ userData.firstName }}</h2>
                        {% else %}
                            <h2 style="color:white">{{ userData.firstName }}'s Profile</h2>
                        {% endif %}
                    </div>
                    <div class="profile-main">
                        <h2 style="text-align:center;color:white">{{ userData.firstName }} — <span class="material-symbols-outlined">
                            star
                            </span> {{ userData.rating }} Rating</h2>
                        <div style="padding-bottom: 1vh;"class="container-row">
                            <img class="profile-picture" src="{{url_for('static', filename='pfp_placeholder.jpeg')}}">
                        </div>
                </div>
                {% if idPass %}
                <div class="container-col" id="profile-quick-container">

                    
                    <div class="profile-changables-container" style="text-align:left">
                        <div class="reviews-container">
                            <h2>Your Balance</h2>
                            Current Balance: ${{ userData.balance }}
                            <div class="profile-header">
                                <p>Add To Your Balance?</p>
                                <a href="/profile/{{userInformation.id}}/addbalance"><button class="standard-button" style="justify-self:center;">Add Balance</button></a>
                            </div>
                        </div>
                        <hr class="short-hr">
                        {% if writtenRevs %}
                            <div class="reviews-container">
                                <h2>Your Reviews</h2>
                                <p class="tiny">Click on a review to be brought to it's subject.</p>
                                {% for review in writtenRevs %}
                                    <div class="review" style="--index: {{loop.index}}">
                                        {% if 'Property' == review.reviewType %}
                                        <a href="/listing/{{ review.recipient }}">
                                        {% else %}
                                        <a href="/profile/{{ review.recipient }}">
                                            
                                        {% endif %}
                                        <div id="review-content">
                                        <p style="text-align: left;margin-top: -2vh;color:rgb(238, 189, 49);font-size: large;"><b>Rating: {{ review.rating }}</b><span style="position: absolute;margin-top: -0.15vh;"class="material-symbols-outlined">
                                            star
                                            </span></p>
                                        
                                            <p style="text-align: left;">{{ review.content }}</p>
                                        <p class="tiny" style="right:0;position:absolute;font-size:small;margin-right: 1em;"><i> written on {{ review.date }}</i></p>
                                        </div>
                                        
                                        </a>
                                        
                                    </div>
                                {% endfor %}
                                                                    
                                    
                                
                                
                            </div>
                        {% else %}
                            <div class="reviews-container">
                                <h2>Your Reviews</h2>
                                
                                    <p>You haven't made any reviews yet!</p>
                                
                                
                            </div>
                            
                        {% endif %}

                        {% if reviewsAbt %}
                        <div class="reviews-container">
                            <h2>Your Reviews</h2>
                            <p class="tiny">Click on a review to be brought to the profile of who posted it.</p>
                            {% for review in reviewsAbt %}
                                <div id="review"class="container-col">
                                    <a href="/profile/{{ review.author }}">
                                    <p style="text-align: left;margin-top: -3vh;margin-left: -1.5em;"><b>Rating: {{ review.rating }}</b> — {{ review.authorName }}<i style="color:gray"> written on {{ review.date }}</i></p>
                                    <p style="text-align: left;">{{ review.content }}</p>
                                    </a>
                                    
                                </div>
                                {% endfor %}
                        {% else %}
                            <div class="reviews-container">
                                <h2>Reviews About You</h2>
                                
                                    <p>Nobody has reviewed you yet. Put yourself out there!</p>
                                
                                
                            </div>
                            <hr>


                        {% endif %}

                        
                    </div>         
                    </div>
                </div>
                <div class="changables-container">

                    
                    <div class="profile-header">
                        <h1>Your Changable Information</h1>
                        <p>This is your on-file information that can be changed.</p>
                    </div>
                    <hr>
                    <div class="profile-changables-container">
                        <h2 id="username" class="profile-head"><b>Display Name: </b>{{ userData.username }}</h2>
                        <h2 id="email" class="profile-head"><b>Email: </b>{{ userData.email }}</h2>
                        <h2 id="address" class="profile-head"><b>Address: </b>{{ userData.billingAddress }}</h2>
                        <h2 id="postalcode" class="profile-head"><b>Postal Code: </b>{{ userData.postalCode }}</h2>
                    </div>
                    <div class="profile-header">
                        <p>Edit Your Information?</p>
                        <a href="/update/{{ userInformation.id }}"><button id="edit-profile-info" class="standard-button">Edit</button></a>
                    </div>
                </div>
            </div>
                {% else %}
                <div class="profile-quick-container">

                    
                    <div class="profile-changables-container" style="text-align:left">
                        {% if writtenRevs %}
                            <div class="reviews-container">
                                <h2>Your Reviews</h2>
                                <p class="tiny">Click on a review to be brought to it's subject.</p>
                                {% for review in writtenRevs %}
                                    <div id="review"class="container-col">
                                        {% if 'Property' == review.reviewType %}
                                        <a href="/listing/{{ review.recipient }}">
                                        {% else %}
                                        <a href="/profile/{{ review.recipient }}">
                                        {% endif %}
                                        <p style="text-align: left;margin-top: -3vh;margin-left: -1.5em;"><b>Rating: {{ review.rating }}</b> — {{ review.authorName }}<i style="color:gray"> written on {{ review.date }}</i></p>
                                        <p style="text-align: left;">{{ review.content }}</p>
                                        
                                        </a>
                                        
                                    </div>
                                {% endfor %}
                                
                            </div>
                        {% else %}
                            <div class="reviews-container">
                                <h2>{{ userData.username}}'s Reviews</h2>
                                
                                <p>They haven't made any reviews yet!</p>
                                
                                
                            </div>
                            
                        {% endif %}
                        {% if reviewsAbt %}
                            <div class="reviews-container">
                                <h2>Your Reviews</h2>
                                <p class="tiny">Click on a review to be brought to the profile of who posted it.</p>
                                {% for review in reviewsAbt %}
                                    <div id="review"class="container-col">
                                        <a href="/profile/{{ review.author }}">
                                        <p style="text-align: left;margin-top: -3vh;margin-left: -1.5em;"><b>Rating: {{ review.rating }}</b> — {{ review.authorName }}<i style="color:gray"> written on {{ review.date }}</i></p>
                                        <p style="text-align: left;">{{ review.content }}</p>
                                        </a>
                                        
                                    </div>
                                {% endfor %}
                        {% else %}
                            <div class="reviews-container">
                                <h2>Reviews About {{ userData.username}}</h2>
                                
                                    <p>Nobody has reviewed {{ userData.username}} yet. Check back later, or be the first!</p>
                                
                                
                            </div>


                        {% endif %}

                        
                    </div>

                        
                    </div>
                {% endif %}
            </div>
                
            </div>
        {% else %}
            <h2>
                There was an error. Please return to the homepage.
                If the issue persists, please contact support.
            </h2>
        {% endif %}
            
</div>
{% endblock %}