{% extends 'base.html' %}

{% block body %}
<div class="main-container">
   
    {% if userData %}
        <div class="profile-container">
            <div class="user-greeting">
                <h2>{{ greeting }}, {{ userData.firstName }}</h2>
            </div>
            <div class="profile-main">
                Display Name: {{ userData.username }}<br>
                Email: {{ userData.email }}<br>
                Address: {{ userData.billingAddress }}<br>
                Postal Code: {{ userData.postalCode }}<br>

            </div>
            
        </div>
    {% else %}
        <h2>
            There was an error. Please return to the homepage.
            If the issue persists, please contact support.
        </h2>
    {% endif %}
</div>
{% endblock %}