{% extends 'base.html' %}
{% block body %}
<div class="changing-info-container">
    <div class="profile-header">
        <h1>Welcome to QBNB</h1>
        <p>Search for a new experience!</p>
        <b>{{ message }}</b>
    </div>
    
    <div class="login-container">
        
        {% if login %}
            <br>
            <form method="post">
                <label for="email" class="input-label">Email</label><br>
                <input id="email" type="text" minlength="4"class="textfield" name="email" placeholder="Email" title="Enter a valid email." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="{{ request.form['email'] }}"></input>    
                <br>
                <label for="password" class="input-label">Password</label><br>
                <input id="password" type="password" minlength="4" class="textfield" name="password" placeholder="Password" value="{{ request.form['billingAddress'] }}"></input>
                <br>
                <button id="login-button"class="standard-button" align="center" type="submit">Sign In</button>
                <p>Haven't signed up yet? <a class="register-text" href="/register">Register now!</a></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </form>
        {% else %}
            <br>
            <form method="post">
                <label for="username" class="input-label">Username</label><br>
                <input id="username" type="text" minlength="4" class="textfield" name="username" required pattern='^[A-Za-z0-9_-]*$' placeholder="bestusernameever" title="Usernames cannot have special characters."value="{{ request.form['username'] }}"></input>
                <br>
                <label for="firstName" class="input-label">First Name</label><br>
                <input id="firstName" type="text" minlength="1" class="textfield" name="firstName" required placeholder="Jack" value="{{ request.form['firstName'] }}"></input>
                <br>
                <label for="surname" class="input-label">Surname</label><br>
                <input id="surname" type="text" minlength="1" class="textfield" name="surname" required placeholder="Nelson" value="{{ request.form['surname'] }}"></input>
                <br>
                <label for="email" class="input-label">Email</label><br>
                <input id="email" type="text" minlength="4"class="textfield" name="email" required placeholder="realemail@email.com" title="Enter a valid email." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="{{ request.form['email'] }}"></input>    
                <br>
                <label for="password" class="input-label">Password</label><br>
                <input id="password" type="password" minlength="4"class="textfield" required name="password" placeholder="Password1234!" title="Enter a valid password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])((?=.*\W)|(?=.*_))^[^ ]+$"" value="{{ request.form['password'] }}"></input>    
                <br>
                <label for="billingAddress" class="input-label">Billing Address</label><br>
                <input id="billingAddress" type="text" minlength="4" class="textfield" required name="billingAddress" placeholder="123 Example St, City, PRV" value="{{ request.form['billingAddress'] }}"></input>
                <br>
                <label for="postalCode" class="input-label">Postal Code</label><br>
                <input id="postalCode" type="text" minlength="6" maxlength=6 class="textfield" required name="postalCode" placeholder="A1A1A1" title="Postal Codes can't contain special characters and must follow the Canadian Postal Code format." pattern='^([A-Za-z]\d[A-Za-z][-]?\d[A-Za-z]\d)' value="{{ request.form['postalCode'] }}"></input>
                <br>
                <button  id="register-button" class="standard-button" align="center" type="submit">Register</button>
                <p>Already have an account? <a class="register-text" href="/login">Login now!</a></p>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}